.app-content{
  padding:10px;
}
.app-content md-card {
  margin: 10px 0;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}
.app-sidenav {
  padding: 10px;
  min-width: 100px;
}
.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}
